<mat-grid-list cols="3">
    <mat-grid-tile *ngFor="let product of cartList;let i=index">
      <mat-card class="example-card">
        <img mat-card-image [src]="product['imageUrl']" 
          style="max-height: 150px;min-height: 150px">
          <mat-card-title> {{product.name}}</mat-card-title>
        <mat-card-content>
          <p>
          {{product.content}}  
          </p>
          <p>Review : {{product.review}}</p>
        </mat-card-content>
        <mat-card-actions>
          <a>{{product.price | currency:'INR':'code'}}</a>
          <button mat-button (click)="removeCart(product, i)"> Remove</button>
          <button mat-button (click)="openDialog(product,i)">Buy</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

  <div *ngIf="is_cartEmpty" style="width: 100%">
      <mat-card>
          <mat-card-title> Cart Is Empty</mat-card-title>
          <mat-list>
            <mat-list-item >
                <img mat-list-avatar src="./assets/empty_cart.jpeg" alt="Desc 1">
              <p mat-line>
                <span>Your cart is empty, please go to product list and add product in cart.</span>
              </p>
            </mat-list-item>
          </mat-list>
          <mat-card-actions>
              <button mat-button (click)="goBack()">Go Back</button>
            </mat-card-actions>
        </mat-card>
  </div>
